*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border:border-box;
    font-family: Arial;
}


/* Nav Bar --Header Section --------------------------*/

.navBar{
    
    height: 150px;
    width: 100%;
    background-image: url("Background.jpg");
    background-size: contain;
    background-position: center; 
    display: flex;
    justify-content: center;

    min-width: 0;  
    min-height: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;

    grid-template-rows :50px  50px  50px 50px 50px;
}


#logoDiv{
    border-radius: 30px 30px 30px 30px;

    grid-column-start:1;
    grid-column-end:2 ;
    grid-row-start: 1;
    grid-row-end: 3;

    height:100px;
    width: 100%;
    border-radius: 0px;

    background-image: url("logo.png");
    background-size: cover;
    background-position: center; 
}


#downloadAppDiv{

    grid-column-start:2;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 2;

    font-size: 1.4rem;
    border-radius: 0px 50px 0px 50px;
    color: white;
    background-color: #146AA8;

    display: flex;
    justify-content: center;
    align-items: center;

}
#delivery{

    grid-column-start:3;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end: 2;

    color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

}


#accountList{

    grid-column-start:4;
    grid-column-end:5 ;
    grid-row-start: 1;
    grid-row-end: 2;


    font-size: 1.4rem;
    background-color: #146AA8;

    color: white;

    border-radius: 50px 0px 50px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#cart{
    min-width: 0;

    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0px 0px 0px 30px;
    font-size:3rem;

    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start:1 ;
    grid-row-end:3 ;

    min-width: 0;  
    min-height: 0;
}


#singUp{

    grid-column-start:2;
    grid-column-end:3 ;
    grid-row-start: 2;
    grid-row-end: 3;


    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


#searchSelect{
    grid-column-start:3;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end: 3;

    border-radius:50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    
}

#search{
    width: 100%;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    padding-left: 20px;
    /* font-size: 1.2rem; */
    border: none;
    outline: none;

} 


#selectDiv{

    height: 50px;
    width: 100px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 20px;
    border: none;
    display: flex;
    text-align:center ;
}


#inputDiv{
    width: 100%;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    padding-left: 20px;
    border: none;
    outline: none;
    

    
} 


#returnsOrdersDiv{

    grid-column-start:4;
    grid-column-end:5 ;
    grid-row-start: 2;
    grid-row-end: 3;

    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#PanelOption{
    width: 100%;
    background-color: #146AA8;
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    grid-column-start:1;
    grid-column-end: 6;
    grid-row-start:3 ;
    grid-row-end:4 ;

}



.totalSection{
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
    flex-wrap: nowrap;   /*  if there any boxs if we dont need flex that box we use no-Wrap & box-sizing: border-box */
    box-sizing: border-box;   

}

/* Pannel Section - 1     ----------------------------------------- */

.pannelSection1{


    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    
    
}


/* .section1Body  ************************************************* */


.section1Body{

    width: 100%;
    max-width: 1500px;   

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    box-sizing: border-box;
}


.pannelContainer1{
    height: 410px;
    width: 300px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;

   

}

.heading1{
    height: 30px;
    width: 100%;

    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 700;
}

#ads1{
    height: 350px;
    width: 300px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Dress.jpg");
    background-size:cover;
     
        
    

}

.seeMore1{
    height: 30px;
    width: 100%;

    background-color: azure;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
}


.pannelContainer2{
    margin-left: 10px;
    height: 410px;
    width: 850px;
    background-color: rgb(8, 0, 255);

    display: contents;
    justify-content: center;
    display: inline-block;
    flex-wrap: wrap;
    


}

.heading2{
    height: 30px;
    width: 850px;
    border: color(white);

    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 700;
    
}

#ads2{
    height: 350px;
    width: 850px;
    
 
    background-image: url("Toys.jpg");
    background-size: cover;

}

.seeMore2{
    height: 30px;
    width: 850px;
    border: color(white);

    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}


.pannelContainer3{
    margin-left: 10px;
    height: 410px;
    width: 300px;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;

}

.heading3{
    height: 30px;
    width: 100%;

    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

#ads3{
    height: 350px;
    width: 300px;

    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Poster.jpg");
    background-size: cover;

}

.seeMore3{
    height: 30px;
    width: 100%;

    background-color: azure;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;

}










/* Pannel Section 2 ----------------*******************************-------- */



.pannelSection2{
    margin-top: 30px;
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    box-sizing: border-box;

}


/* .section -2  Body                ************************************************* */


.section2Body{
    width: 100%;            
    max-width: 1500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}



.pannelContainer4{
    width: 500px;
    height: 500px;
    color: black;

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    

}

#ads4{
    height: 500px;
    width: 500px;
    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Watch.png");
    background-size: cover;

}



.seeMore4{
    width: 500px;
    height: 30px;
    background-color: rgb(208, 149, 106);

    align-self: flex-end;
    align-content: center;
    padding-left: 10px;

    
}


.pannelContainer5{
    width: 500px;
    height: 500px;
    color: black;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

}

#ads5{
    height: 500px;
    width: 500px;

    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("BD.png");
    background-size: cover;

}


.seeMore5{
    width: 500px;
    height: 30px;
    background-color: rgb(138, 227, 168);

    align-self: flex-end;
    align-content: center;
    padding-left: 10px;



}




.pannelContainer6{
    width: 500px;
    height: 500px;
    color: black;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

}

#ads6{
    height: 500px;
    width: 500px;

    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Lap.png");
    background-size: cover;

}



.seeMore6{
    width: 500px;
    height: 30px;
    background-color: rgb(208, 149, 106);

    align-self: flex-end;
    align-content: center;
    padding-left: 10px;

}






/* Pannel Section 2 ----------------*******************************-------- */



.pannelSection3{
    margin-top: 60px;
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    box-sizing: border-box;

}


/* .section -2  Body                ************************************************* */


.section3Body{
    width: 100%;            
    max-width: 1500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}





.pannelContainer7{
    width: 500px;
    height: 500px;
    color: black;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    

}

#ads7{
    height: 500px;
    width: 500px;

    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Poster.jpg");
    background-size: cover;

}



.seeMore7{
    width: 500px;
    height: 30px;
    background-color: rgb(208, 149, 106);

    align-self: flex-end;
    align-content: center;
    padding-left: 10px;


    
}


.pannelContainer8{
    width: 500px;
    height: 500px;
    color: black;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

}

#ads8{
    height: 500px;
    width: 500px;

    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Phone.png");
    background-size: cover;

}


.seeMore8{
    width: 500px;
    height: 30px;
    background-color: rgb(138, 227, 168);

    align-self: flex-end;
    align-content: center;
    padding-left: 10px;



}




.pannelContainer9{
    width: 500px;
    height: 500px;
    padding: 10px;
    color: black;

    display: flex;
    flex-wrap: wrap;

}

#ads9{
    height: 500px;
    width: 500px;

    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("WM.png");
    background-size: cover;

}



.seeMore9{

    width: 500px;
    height: 30px;
    background-color: rgb(208, 149, 106);

    align-self: flex-end;
    align-content: center;
    padding-left: 10px;


}







/* //************************************************************ */




















































































a{
    color: white;
    text-decoration: none;
}








@media screen and (max-width: 1536px){
    .navBar{
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    }
}

@media screen and (max-width: 1536px){
    .pannelsSections1{
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (max-width: 1536px){
    .pannelsSections2{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    }
}


@media (max-width: 1836px){
    .heading1 , .heading2 ,.heading3, p, option,input,.seeMore1 , .seeMore2 , .seeMore3 , header , #searchSelect { 
        font-size:1rem;
    }
}

@media (max-width: 1200px){
    .heading1 , .heading2 ,.heading3, p ,option,input, .seeMore1 , .seeMore2 , .seeMore3 , .navBar ,header , #searchSelect { 
        font-size:.8rem;
       
    }
}
@media (max-width: 900px){
    .heading1 , .heading2 ,.heading3, p ,option,input,.seeMore1 , .seeMore2 , .seeMore3 ,header , #searchSelect { 
        font-size:.6rem;
    }
}


@media (max-width: 1200px){
  i , #cart  { 
        font-size:2rem;
    }
}

@media (max-width: 900px){
  i , #cart { 
        font-size:1.7rem;
    }
}

@media (max-width: 900px){
  div { 
        font-size:.7rem;
    }
}
